<html xmls:ns = https://www.thymeleaf.org>
    <head>
        <title>Crea un autore</title>
    </head>

    <body>
        <h1>Inserimento autori : </h1>
        <form method = post action = "/create">
            <input type = "text" name = "nome" placeholder="nome">
            <input type = "text" name = "data" placeholder="data">
            <input type = "text" name = "paese" placeholder="paese">
            <input type = submit name = "aggiungi" value = "aggiungi">
        </form>
    </body>
</html>